{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 150,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@nestjs/(.*)$",
    "^src/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}